@model Sydenham_Library_System.Models.RESERVATIONS

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>RESERVATIONS</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Reservedby)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Reservedby)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Reservedbyphone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Reservedbyphone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Createddate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Createddate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PRODUCTS)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PRODUCTS.ID)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
