@model Sydenham_Library_System.Models.PRODUCTS

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>PRODUCTS</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PRODID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PRODID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TITLE)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TITLE)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AUTHORS)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AUTHORS.AUTHORNAME)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PRODTYPE)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PRODTYPE.PRODTYPE)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GENRE)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GENRE.GENRENAME)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Availability)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Availability.STATUS)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ID" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">Edit</a>
    <a asp-action="Index" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">Back to List</a>
</div>
